body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    font-family: FBI;
    font-size: 128px;
    line-height: 48px;
    padding: 24px;
}

@font-face {
    font-family: FBI;
    src: url("../fonts/FBI Old Report-Regular.ttf");
}

footer {
    padding: 24px;
}
